body {
    background-color: #000000 !important;
    color: white;
}

#zohoSupportWebToCase textarea,
#zohoSupportWebToCase input[type='text'],
#zohoSupportWebToCase input[type='date'],
#zohoSupportWebToCase select,
.wb_common {
    width: 280px;
}

#zohoSupportWebToCase td {
    padding: 11px 5px;
}

#zohoSupportWebToCase textarea,
#zohoSupportWebToCase input[type='text'],
#zohoSupportWebToCase input[type='date'],
#zohoSupportWebToCase select {
    border: 1px solid #ddd;
    padding: 3px 5px;
    border-radius: 3px;
}

#zohoSupportWebToCase input[type='button'],
#zohoSupportWebToCase input[type='submit'] {
    margin: 30px auto;
    padding: 1rem;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #2ecc71;
    color: #ecf0f1;

    transition: background-color .3s;
}
#zohoSupportWebToCase input[type='button']{
    background-color: #e67e22;
}


#zohoSupportWebToCase select {
    box-sizing: unset
}

#zohoSupportWebToCase .wb_selectDate {
    width: auto
}

#zohoSupportWebToCase input.wb_cusInput {
    width: 108px
}

.wb_FtCon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    padding-left: 10px
}

.wb_logoCon {
    display: flex;
    margin-left: 5px
}

.wb_logo {
    max-width: 16px;
    max-height: 16px;
}

#zohoSupportWebToCase .wb_multi_pick {
    border: 1px solid #ddd;
    padding: 3px 5px;
    border-radius: 3px;
    width: 280px;
    height: 95px;
    overflow-y: auto;
}

#zohoSupportWebToCase .wb_multi_pick_label {
    display: block;
}

#zohoSupportWebToCase .wb_multi_pick_input,
.wb_multi_pick_input_all {
    vertical-align: middle;
    margin-right: 5px;
}

.zsFormClass {
    width: 600px;
    background-color: #000000;
    color: white;
}

.zsFontClass {
    color: white;
    font-family: Arial;
    font-size: 1rem;
}